

    <!-- Start: dh-navbar-inverse -->
    
    <section style="margin-top: 34px;">
        <i class="bi bi-x-lg"></i>
        <div>
            <!-- Start: 1 Row 2 Columns -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-6 col-xl-5" style="margin-bottom: 33px;width: 311px;">
                        <div class="card clean-card text-center" style="border-radius: 56px;">
                            <div class="card-body info" style="padding-bottom: 26px;">
                                <div class="row" style="margin-top: -24px;">
                                    <div class="col-xl-12">
                                        
                                        <div class="avatar-bg center" style="margin-bottom: 27px;margin-top: 28px;"></div>
                                        <h2 style="color: var(--bs-green);font-family: 'Poppins';font-size: 21.384px;">Hello <strong><%=current_user.first_name%> <%=current_user.last_name%></strong></h2>
                                    </div>
                                    <div class="col-md-12" style="margin-top: 22px;">
                                        <div class="row">
                                            <div class="col-4" style="padding-left: 12px;text-align: left;font-family: 'Poppins';font-size: 14px;">
                                                <p class="labels" style="font-family: 'Poppins';"><strong>Staff ID</strong></p>
                                            </div>
                                            <div class="col" style="text-align: right;">
                                                <p class="labels" style="font-family: 'Poppins';">WU-<%=current_user.id%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4" style="padding-left: 12px;text-align: left;font-family: 'Poppins';font-size: 14px;">
                                                <p class="labels" style="font-family: 'Poppins';"><strong>Name</strong></p>
                                            </div>
                                            <div class="col" style="text-align: right;">
                                                <p class="labels" style="font-family: 'Poppins';"><%= current_user.first_name%> <%=current_user.last_name%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4" style="padding-left: 12px;text-align: left;font-family: 'Poppins';font-size: 14px;">
                                                <p class="labels" style="font-family: 'Poppins';"><strong>Contact</strong></p>
                                            </div>
                                            <div class="col" style="text-align: right;">
                                                <p class="labels" style="font-family: 'Poppins';"><%=current_user.mobile_number%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4 col-xl-5" style="padding-left: 12px;text-align: left;font-family: 'Poppins';font-size: 14px;">
                                                <p class="labels" style="font-family: 'Poppins';"><strong>Date Joined</strong></p>
                                            </div>
                                            <div class="col" style="text-align: right;">
                                                <p class="labels" style="font-family: 'Poppins';"><%= current_user.created_at.strftime("%B %d, %Y") %></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left: 18px;width: 800px;padding-right: 0px;">
                        <% if current_user.staff? %>
                            <div class="row" style="margin-bottom: 20px;padding-left: 10px;padding-right: 10px;">
                                <div class="col">
                                    <div class="card" style="border-radius: 30px;">
                                        <div class="card-body" style="padding-bottom: 10px;padding-top: 15px;">
                                            <h4 class="card-title" style="font-family: 'Poppins';font-style: italic;font-size: 17.376px;color: var(--bs-form-valid-color);margin-bottom: 6px;"><strong>Your Schedule</strong></h4>
                                            <p class="card-text" style="font-family: 'Poppins';">Weekly Schedule</p>

                                               
                                            <% current_user.schedule_array.each_with_index do |day, index| %>
                                                <%if day == 1%>
                                                    <input type="checkbox" class="btn-lg btn-check bg-danger disabled" id="btncheck_<%=current_user.id%>_<%=index%>" checked=true >
                                                     <label class="btn btn-outline-secondary" for="btncheck_<%=current_user.id%>_<%=index%>"><%=@weekdays[index]%></label>
                                                <%else%>
                                                    <input type="checkbox" class="btn-lg btn-check bg-danger" id="btncheck_<%=current_user.id%>_<%=index%>">
                                                    <label class="btn btn-outline-secondary" for="btncheck_<%=current_user.id%>_<%=index%>"><%=@weekdays[index]%></label>
                                                <%end%>

                                            <%end%> 
                                 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        <div class="row" style="margin-bottom: 20px;padding-left: 10px;padding-right: 10px;">
                            <div class="col">
                                <div class="card" style="border-radius: 30px;">
                                    <div class="card-body" style="padding-bottom: 10px;padding-top: 15px;">
                                        <h4 class="card-title" style="font-family: 'Poppins';font-style: italic;font-size: 17.376px;color: var(--bs-form-valid-color);margin-bottom: 6px;"><strong>Analytics</strong></h4>
                                        <p class="card-text" style="font-family: 'Poppins';text-align: center;">Loads washed today:&nbsp;<br></p>
                                        <p class="card-text" style="font-family: 'Poppins';text-align: center;margin-top: -20px;font-weight: bold;"><span class="nbanimate nbreplay" style="font-family: 'Poppins';font-size: 37px;">15</span></p>
                                        <% if current_user.manager? %>
                                            <%= link_to "See More", analytics_path, class: "btn btn-primary", role: "button", style: "background: rgba(225,225,225,0); color: var(--bs-emphasis-color); border-width: 0px; border-style: none; display: block; font-style: italic; font-size: 14px;" %>

                                        <% else %>
                                            <a class="btn btn-primary" role="button" style="background: rgba(225,225,225,0);color: var(--bs-emphasis-color);border-width: 0px;border-style: none;display: block;font-style: italic;font-size: 14px;">See More</a>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="border-radius: 30px;">
                                    <div class="card-body" style="padding-bottom: 10px;padding-top: 15px;">
                                        <h4 class="card-title" style="font-family: 'Poppins';font-style: italic;font-size: 17.376px;color: var(--bs-form-valid-color);margin-bottom: 6px;"><strong>Transactions</strong></h4>
                                        <p class="card-text" style="font-family: 'Poppins';text-align: center;">Last Payment From</p>
                                        <p class="card-text" style="font-family: 'Poppins';font-size: 30px;text-align: center;margin-top: -20px;font-weight: bold;"><%=Order.last.customer.name%></p>
                                        <% if current_user.manager? %>
                                            <%= link_to "Manage Transactions", transactions_path, class: "btn btn-primary", role: "button", style: "background: rgba(225,225,225,0); color: var(--bs-emphasis-color); border-width: 0px; border-style: none; display: block; font-style: italic; font-size: 14px;" %>
                                        <% else %>
                                            <a class="btn btn-primary" role="button" style="background: rgba(225,225,225,0);color: var(--bs-emphasis-color);border-width: 0px;border-style: none;display: block;font-style: italic;font-size: 14px;">See More</a>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;padding-left: 10px;padding-right: 10px;">
                            <div class="col">
                                <div class="card" style="border-radius: 30px;">
                                    <% if current_user.manager? %>
                                        <div class="card-body" style="padding-bottom: 10px;padding-top: 15px;">
                                            <h4 class="card-title" style="font-family: 'Poppins';font-style: italic;font-size: 17.376px;color: var(--bs-form-valid-color);margin-bottom: 6px;"><strong>Users</strong></h4>
                                            <p class="card-text" style="font-family: 'Poppins';text-align: center;">Online Users Today</p>
                                            <p class="card-text" style="font-family: 'Poppins'; font-size: 30px; text-align: center; margin-top: -20px;">
                                                <span class="nbanimate nbreplay" style="font-family: 'Poppins'; font-size: 37px; font-weight: bold;">5</span>
                                            </p>
                                            <%= link_to "Manage Users", user_crew_index_path, class: "btn btn-primary", role: "button", style: "background: rgba(225, 225, 225, 0); color: var(--bs-emphasis-color); border-width: 0px; border-style: none; display: block; font-style: italic; font-size: 14px;" %>
                                        </div>
                                    <% else %>
                                       <div class="card-body" style="padding-bottom: 10px;padding-top: 15px;">
                                            <h4 class="card-title" style="font-family: 'Poppins';font-style: italic;font-size: 17.376px;color: var(--bs-form-valid-color);margin-bottom: 6px;"><strong>Orders</strong></h4>
                                            <p class="card-text" style="font-family: 'Poppins';text-align: center;">Orders Placed Today</p>
                                            <p class="card-text" style="font-family: 'Poppins';font-size: 30px;text-align: center;margin-top: -20px;"><span class="nbanimate nbreplay" style="font-family: 'Poppins';font-size: 37px;font-weight: bold;"><%=Order.count%></span></p>
                                            <a class="btn btn-primary" role="button" style="background: rgba(225,225,225,0);color: var(--bs-emphasis-color);border-width: 0px;border-style: none;display: block;font-style: italic;font-size: 14px;">See More</a>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="border-radius: 30px;">
                                    <div class="card-body" style="padding-bottom: 10px;padding-top: 15px;">
                                        <h4 class="card-title" style="font-family: 'Poppins';font-style: italic;font-size: 17.376px;color: var(--bs-form-valid-color);margin-bottom: 6px;"><strong>Inventory</strong></h4>
                                        <p class="card-text" style="font-family: 'Poppins';text-align: center;">Detergents Available</p>
                                        <p class="card-text" style="font-family: 'Poppins';text-align: center;margin-top: -20px;"><span class="nbanimate nbreplay" style="font-family: 'Poppins';font-size: 37px;font-weight: bold;">15</span></p>
                                        <% if current_user.manager? %>
                                            <%= link_to "Manage Inventory", inventories_path, class: "btn btn-primary", role: "button", style: "background: rgba(225,225,225,0); color: var(--bs-emphasis-color); border-width: 0px; border-style: none; display: block; font-style: italic; font-size: 14px;" %>
                                        <% else %>
                                            <a class="btn btn-primary" role="button" style="background: rgba(225,225,225,0);color: var(--bs-emphasis-color);border-width: 0px;border-style: none;display: block;font-style: italic;font-size: 14px;">See More</a>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 20px;padding-left: 10px;padding-right: 10px;">
                            <div class="col">
                                <div class="card" style="border-radius: 30px;">
                                    <div class="card-body" style="padding-bottom: 10px;padding-top: 15px;">
                                        <h4 class="card-title" style="font-family: 'Poppins';font-style: italic;font-size: 17.376px;color: var(--bs-form-valid-color);margin-bottom: 6px;"><strong>Customers</strong></h4>
                                        <p class="card-text" style="font-family: 'Poppins';text-align: center;">Customers Registered</p>
                                        <p class="card-text" style="font-family: 'Poppins';text-align: center;margin-top: -20px;"><span class="nbanimate nbreplay" style="font-family: 'Poppins';font-size: 37px;font-weight: bold;"><%=Customer.count%></span></p>
                                        <% if current_user.manager? %>
                                            <%= link_to "Manage Customers", customers_path, class: "btn btn-primary", role: "button", style: "background: rgba(225,225,225,0); color: var(--bs-emphasis-color); border-width: 0px; border-style: none; display: block; font-style: italic; font-size: 14px;" %>
                                        <% else %>
                                            <a class="btn btn-primary" role="button" style="background: rgba(225,225,225,0);color: var(--bs-emphasis-color);border-width: 0px;border-style: none;display: block;font-style: italic;font-size: 14px;">See More</a>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <% if current_user.manager? %>
                                <div class="col">
                                    <div class="card" style="border-radius: 30px;">
                                        <div class="card-body" style="padding-bottom: 10px;padding-top: 15px;">
                                            <h4 class="card-title" style="font-family: 'Poppins';font-style: italic;font-size: 17.376px;color: var(--bs-form-valid-color);margin-bottom: 6px;"><strong>Schedule Overview</strong></h4>
                                            <p class="card-text" style="font-family: 'Poppins';text-align: center;">Total Staff</p>
                                            <p class="card-text" style="font-family: 'Poppins';font-size: 30px;text-align: center;margin-top: -20px;"><span class="nbanimate nbreplay" style="font-family: 'Poppins';font-size: 37px;font-weight: bold;"><%= User.where(role: :staff).count %></span>
                                            <%if current_user.manager?%>
                                            <%= link_to "View Schedules", schedule_index_path, class:"btn btn-primary", style:"background: rgba(225,225,225,0);color: var(--bs-emphasis-color);border-width: 0px;border-style: none;display: block;font-style: italic;font-size: 14px;" %>
                                            <%end%>
                                        </div>
                                    </div>
                                </div>
                            <% else %>
                                <div class="col"></div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div><!-- End: 1 Row 2 Columns -->
        </div>
    </section>