<div class="row">
    <div class="col-7"></div>
    <div class="col-5">
      <div class="card m-auto p-5 rounded-5 shadow", style="max-width: 500px;">
  <div class="card-body">
    <h1 class="pb-5">Log in</h1>

    <div class="m-auto text-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-floating mb-3">
          <%= f.email_field :email, class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
          <%= f.label :email, "Email address", class: "form-label", for: "floatingInput" %>
        </div>

        <div class="form-floating mb-3">
          <%= f.password_field :password, class: "form-control", id: "floatingInput", autocomplete: "current-password", placeholder: "password" %>
          <%= f.label :password, "Password", class: "form-label", for: "floatingInput" %><br />
        </div>

    

        <div class="actions">
          <%= f.submit "Log in", class: "btn bg-primary text-white w-100" %>
        </div>

      <% end %>
    </div>
    
    <div class="pt-4"><%= render "devise/shared/links" %></div>

  </div>

</div>
    </div>
  </div>



