<div id="modal-1-<%= customer.id %>" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="font-family: 'Poppins';font-weight: bold;">Edit Customer Profile</h4>
        <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: customer, url: customer_path(customer), method: :patch, local: true, html: { class: "focus-ring", style: "border-radius: 56px;border-style: none;" }) do |form| %>
        <div class="avatar"></div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="form-group mb-3">
                <%= form.label :firstname, "Name", class: "form-label", style: "font-family: 'Poppins';" %>
                <%= form.text_field :name, class: "form-control", style: "border-width: 1px;border-style: solid;" %>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group mb-3">
                <%= form.label :mobile, "Mobile number", class: "form-label", style: "font-family: 'Poppins';" %>
                <%= form.text_field :contact_info, class: "form-control", style: "border-style: solid;" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group mb-3">
                <%= form.label :address, "Address", class: "form-label", style: "font-family: 'Poppins';" %>
                <%= form.text_field :address, class: "form-control", style: "border-style: solid;" %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
                <button class="btn btn-light" type="button" data-bs-dismiss="modal">Cancel</button>
                <%= form.submit "Update Customer Profile", class: "btn btn-primary" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


 <!-- EDIT CUSTOMER ENDS HERE -->           
            
            
            
            
            <div id="modal-4" class="modal fade" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" style="font-family: 'Poppins';font-weight: bold;">&lt;Customer&gt;&#39;s Order</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body focus-ring">
                            <form class="focus-ring" style="border-radius: 56px;border-style: none;">
                                <div class="avatar"></div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-xl-2" style="width: 112.6562px;">
                                        <div class="form-floating mb-3"><input id="textInput-7" class="focus-ring focus-ring-success form-control" type="text" disabled /><label class="form-label" for="textInput" style="font-family: 'Poppins';">Queue #</label></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-xl-2" style="width: 107.6562px;">
                                        <div class="form-floating mb-3"><input id="textInput-8" class="focus-ring focus-ring-success form-control" type="text" /><label class="form-label" for="textInput" style="font-family: 'Poppins';">Order kg</label></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-xl-2" style="width: 103.6562px;">
                                        <div class="form-floating mb-3"><input id="textInput-9" class="focus-ring focus-ring-success form-control" type="text" disabled /><label class="form-label" for="textInput" style="font-family: 'Poppins';">Load #</label></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-xl-3">
                                        <div class="form-floating mb-3">
                                            <div class="dropdown"><button class="btn btn-success dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="font-family: 'Poppins';">Classification</button>
                                                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-xl-4" style="width: 209.328px;">
                                        <div class="form-floating mb-3">
                                            <div class="dropdown"><button class="btn btn-success dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="font-family: 'Poppins';">Mode of Payment</button>
                                                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6"><label class="form-label" for="detergent" style="font-family: 'Poppins';"># of Detergents</label>
                                        <div class="form-floating mb-3">
                                            <div class="row">
                                                <div class="col-xl-3">
                                                    <div style="text-align: right;"><a href="#"><i class="icon ion-minus-circled" style="font-size: 30px;"></i></a></div>
                                                </div>
                                                <div class="col-xl-4"><input id="textInput-10" class="form-control" type="number" disabled /></div>
                                                <div class="col-xl-2">
                                                    <div style="text-align: left;"><a href="#"><i class="icon ion-plus-circled" style="font-size: 30px;"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-xl-12">
                                        <div class="form-floating mb-3"><input id="textInput-11" class="focus-ring focus-ring-success form-control" type="text" /><label class="form-label" for="textInput" style="font-family: 'Poppins';">Other Instructions</label></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3"><input id="textInput-12" class="focus-ring focus-ring-success form-control" type="text" disabled /><label class="form-label" for="textInput" style="font-family: 'Poppins';">Total (PHP)</label></div>
                                    </div>
                                </div>
                            </form>
                             <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cancel</button><button class="btn btn-primary" type="button">Save Order</button></div>
                        </div>
                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="button">Save Order</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>