<nav class="navbar navbar-expand-md sticky-top shadow-sm navigation-clean navbar-inverse navbar-fixed-top navbar-light" style="background: var(--bs-secondary-bg); height: 77px;">
    <div class="container-fluid">
        <div>
            <%= link_to root_path, class: "navbar-brand", style: "padding:0px;margin-left:0px;height:78px;" do %>
                <%= image_tag "Wash-Up!.png", width: 150, height: 50, alt: "Wash Up Logo" %>
            <% end %>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1" style="color: var(--bs-navbar-brand-hover-color);background: var(--bs-secondary-bg);">
            <ul class="navbar-nav text-truncate ms-auto" style="margin-top: 0px;background: var(--bs-secondary-bg);">
                <% if current_user.manager? %>
                    <li class="nav-item <%= 'active' if current_page?(user_crew_path(current_user)) %>">
                        <%= link_to "Edit profile", user_crew_path(current_user), class: "nav-link text-end", "uk-scroll": "offset:50", style: "color: var(--bs-emphasis-color); font-family: 'Poppins';" %>
                    </li>
                <% end %>
                <li class="nav-item <%= 'active' if current_page?(landing_page_path) %>">
                    <%= link_to "Dashboard", landing_page_path, class: "nav-link text-end", "uk-scroll": "offset:100", style: "color: var(--bs-emphasis-color); font-family: 'Poppins';" %>
                </li>
                <% if current_user.manager? %>
                    <li class="nav-item <%= 'active' if current_page?(user_crew_index_path) %>">
                        <%= link_to "Manage users", user_crew_index_path, class: "nav-link text-end", "uk-scroll": "offset:50", style: "color: var(--bs-emphasis-color); font-family: 'Poppins';" %>
                    </li>
                <% end %>
                <li class="nav-item">
                    <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link text-end", "uk-scroll": "offset:50", style: "color: var(--bs-emphasis-color); font-family: 'Poppins';" %>
                </li>
            </ul>
        </div>
    </div>
</nav><!-- End: dh-navbar-inverse -->
